<!DOCTYPE HTML>
html(lang="en-US")
	head
		meta(charset="UTF-8")
		title Drone Field 
		script(type="text/javascript" src="public/js/jquery/jquery.js" defer)
		script(type="text/javascript" src="public/js/script.js" defer)
		script(type="text/javascript" src="public/js/bootstrap/bootstrap.min.js" defer)
		script(type="text/javascript" src="public/js/fancybox/jquery.fancybox.pack.js" defer)
		script(type="text/javascript" src="public/js/nivo-lightbox/nivo-lightbox.min.js" defer)
		script(type="text/javascript" src="public/js/owl-carousel/owl.carousel.min.js" defer)
		script(type="text/javascript" src="public/js/jquery-easing/jquery.easing.1.3.js" defer)
		script(type="text/javascript" src="public/js/wow/wow.min.js" defer)
		link(rel="stylesheet" href="public/css/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet" href="public/css/bootstrap/bootstrap.min.css")
		link(rel="stylesheet" href="public/css/linearicons.css")
		link(rel="stylesheet" href="public/css/iconmoon.css")
		link(rel="stylesheet" href="public/css/animat/animate.min.css")
		link(rel="stylesheet" href="public/css/fancybox/jquery.fancybox.css")
		link(rel="stylesheet" href="public/css/nivo-lightbox/nivo-lightbox.css")
		link(rel="stylesheet" href="public/css/themes/default/default.css")
		link(rel="stylesheet" href="public/css/owl-carousel/owl.carousel.css")
		link(rel="stylesheet" href="public/css/owl-carousel/owl.theme.css")
		link(rel="stylesheet" href="public/css/owl-carousel/owl.transitions.css")
		link(rel="stylesheet" href="public/css/style.css")
		link(rel="stylesheet" href="public/css/responsive.css")
		link(href="https://tawk.to/chat/5a4d9711d7591465c7067db6/default/?$_tawk_popout=true")
	body
		div.preloader
			div.loaded &nbsp;
		header#home.header
			div.main_menu_bg.navbar-fixed-top
				div.container
					div.row
						div.nave_menu
						nav.navbar.navbar-default
							div.container-fluid
							div.navbar-header
								button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
									span.sr-only Toggle navigation
									span.icon-bar
									span.icon-bar
									span.icon-bar
								a.navbar-brand(href="#home")
									div.logo
										img(src="public/images/logo-white.png" alt="")
							div.collapse.navbar-collapse#bs-example-navbar-collapse-1
								ul.nav.navbar-nav.navbar-right
									li 
										a(href="#home") 홈 
									li 
										a(href="#abouts") 회사소개 
									li
										a(href="#works") 제품소개 
									li
										a(href="#features") 문의
		//- End of header
		section#banner.banner
			div.banner-cover
			div.container
				div.row
					div.main_banner_area
						div.col-md-6.col-sm-6
							div.single_banner.wow.fadeIn
								img(src="public/images/drone.png" alt="")
						div.col-md-6.col-sm-6
							div.single_banner_text.wow.zoomIn(data-wow-duration="1s")
								h2 CATUS 
								div.apps_downlod
									a(href="")
										img(src="public/images/ap.png" alt="")
									a(href="")
										img(src="public/images/ag.png" alt="")
						div.scrolldown
							a.scroll_btn(href="#features")
		//- End of Banner Section 
		section.video-content.content-first
			div.content-cover
			h1 Start CATUS.
			h1 Let's Go.
			h1 I can do it!  
		section.video-main
			<iframe src="https://www.youtube.com/embed/0PF4xvyEi2s?controls=0&modestbranding=1&rel=0&showinfo=0&start=20" frameborder="0" gesture="media" allow="encrypted-media" allowFullScreen='allowFullScreen' frameBorder="0"></iframe>
		section.video-content.content-second
			div.content-cover
			h1 take picture.
			h1 edit.
			h1 we will help you!  
		section#abouts.abouts
			div.abouts-cover
			div.container
				div.row
					div.abouts_content
						div.col-md-7.col-sm-7.col-xs-12
							div.single_abouts_img.text-center.wow.fadeInLeft(data-wow-duration="1s")
								img(src="public/images/Drone-Transparent-Background.png" alt="")
						div.col-md-5.col-sm-5.col-xs-12
							div.single_abouts_text.wow.fadeInRight(data-wow-duration="1.5s")
								h2 항공 보안 영상서비스
								p 축제 시장을 비롯한 문화예술 공연, 체험학습까지 진출하여 항공 보안 영상 서비스 제공.
								br
								h2 부동산 지적도 촬영
								p 부동산 리얼 영상 제공을 통하여 거래 성과율 증가 및 드론 전문가들의 수익 창출.
								br
								h2 360도 파노라마
								p 높은 조망에서 바라보는 새롭고 멋진 풍경을 제공.
								p 건물이 완공되기전 층수별 조망 확인.
		//- End of Abouts Section	
		section#works.works
			div.works-cover
			div.container
				div.row
					div.main_works
						div.col-md-4.col-sm-4.col-xs-12
							div.single_works.text-right.wow.fadeInLeft(data-wow-duration="2s")
								div.single_works_deatels
									h5 최고급 촬영 장비  
									p DSC-RX10 렌즈 장착
									p 초대줌 포인트가 가능한 광각렌즈 
								div.single_works_deatels
									h5 최고급 드론 보유
									p 비행 안정을 위한 4s 펠러
									p 바람 저항에 강한 설계구조 
								div.single_works_deatels
									h5 국내 유일 드론 촬영 자격증 보유
									p 드론 촬영 자격증
									p 드론 조종 자격증
						div.col-md-8.col-sm-8.col-xs-12
							div.single_works_text_middel.text-center.wow.fadeInDown(data-wow-duration="2s")
								img(src="public/images/drone2.png" alt="")
		//- End of works Section	
		section#video.video_area.wow.fadeIn(data-wow-duration="2s" data-wow-dealy="1.5s")
			div.container
				div.row
					div.main_video_content.text-center
						div.head_title
							h1 video 
							p 드론 영상촬영부터 편집까지 가능합니다. 
						div.col-md-12.col-sm-12.col-lg-12
							<iframe src="https://www.youtube.com/embed/CZE8DzTxesc?controls=0&modestbranding=1&rel=0&showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
		//- End of video Section
		section#gallery.gallery
			div.gallery-title
				h1 Photo Gallery
			div.container
				div.row
				div.main_gallery
					div.col-md-4
						div#haha.thumbnail
							img(src='public/images/drone4.jpg' alt='')
					div.col-md-4
						div.thumbnail
							img(src='public/images/drone2.jpg' alt='')
					div.col-md-4
						div.thumbnail
							img(src='public/images/drone3.jpg' alt='')
					div.col-md-4
						div.thumbnail
							img(src='public/images/pick1.jpg' alt='')
					div.col-md-4
						div.thumbnail
							img(src='public/images/pick2.jpg' alt='')
					div.col-md-4
						div.thumbnail
							img(src='public/images/pick2.jpg' alt='')
		//- End of galery Section
		section#features.features
			div.features-cover
			div.container
				div.row
					div.main_features
						div.col-md-6.col-sm-6.col-xs-12.features-text-wrap
							div.single_features_text.wow.fadeIn(data-wow-duration="2s")
								h2 문의하기 
								p 
									a 드론촬영 예약하러가기 
								p 
									a 동영상 편집 예약하러가기 
								p 상담전화 
									strong 010-4524-5345 
		//- End of Features Section 
		footer#fkoter.footer
			div.container
				div.row.wow.zoomIn(data-wow-duration="2s")
					div.col-md-6.col-sm-6.col-xs-12
						div.single_footer
							div.col-md-3.col-sm-3.col-xs-12
								span 회사명 : CATUS 
							div.col-md-3.col-sm-3.col-xs-12
								span 대표 : 홍길동 
							div.col-md-6.col-sm-6.col-xs-12
								span 사업자등록번호 : 123-45-678900
							div.col-md-12.col-sm-12.col-xs-12
								span 주소 : 전라북도 전주시 .. 
							div.col-md-12.col-sm-12.col-xs-12
								span 문의 : 010-1234-5678
					div.col-md-6.col-sm-6.col-xs-12
						div.single_footer.text-right
							div.footer_menu
								ul
									li 
										a(href="#home") 홈 
									li 
										a(href="#abouts") 회사소개 
									li
										a(href="#works") 제품소개 
									li
										a(href="#features") 문의
							div.footer_socail
								a(href="#")
									i.fa.fa-facebook
								a(href="#")
									i.fa.fa-youtube
								a(href="#")
									i.fa.fa-instagram
		//- End of footer   
		div.scrollup
			a(href="#")
				i.fa.fa-chevron-up
		//- End of scrollup   
